:root {
  --black: #000;
  --white: #fff;
  --black-800: #272c36;
  --gray-50: #e1e1e6;
  --purple-50: #8c8cba;
  --blue-100: #0088b3;
  --green-200: #07847e;
  --purple-100: #633bbc;
  --purple-200: #282843;
  --purple-300: #24243d;
  --purple-400: #1a1924;
  --purple-500: #16151e;
  --pink-100: #9a00b3;
  --yellow-200: #b38c00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}
